<div id="tooblox" class="toolbox">
    <div class="header">Modules</div>
    <div *ngFor="let module of modules">
        <div class="tool" (click)="addModuleToCanvas(module)">
            {{module.name}}
        </div>
    </div>

    <div class="header" style="margin-top: 30px;">Tools</div>
    <div *ngFor="let tool of tools">
        <div class="tool" (click)="addToolToCanvas(tool)">
            {{tool.name}}
        </div>
    </div>

    <div class="header" style="margin-top: 30px;">Actions</div>
    <div class="tool" (click)="canvas.printJson()">
        log workflow json to console
    </div>
</div>
